!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    - unless @item[:meta].nil? 
      %title= item[:title]
    %link{rel: 'stylesheet', href: '/css/reset.css'}
    %script{src: "/js/jquery-v1.8.0.js"}
  %body
    .main
      .head
        %ul
          %li 
            %a{href: "#"} 测试1
          %li 
            %a{href: "#"} 测试1
          %li 
            %a{href: "#"} 测试1
          %li 
            %a{href: "#"} 测试1
          %li 
            %a{href: "#"} 测试1
      .body
        %div= yield
      .bottom
        %div bottom

